{% extends 'base.html' %}
{% block content%}

<div class="container-fluid">
    <div class="p-4 m-4">
        <div class="col-lg-5 mx-auto border rounded p-4 m-4">
            <h3 class="alert alert-info">Login Here</h3>
            <form action="/login" method="POST">
                {% csrf_token %}

                <!-- Error Message show -->
                {% if error%}
                <div class="alert alert-danger" role="alert">
                    {{error}}
                </div>
                {% endif %}

                <!-- Email address -->
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input value="{{exvalues.email}}" type="text" class="form-control" id="email" name="email">
                </div>

                <!-- Password -->
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" id="password" name="password">
                </div>

                <!-- Submit button -->
                <button type="submit" class="btn btn-info col-lg-4">Login</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}